<section class="about-banner">
    <div class="container">
        <div class="row align-item-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="about-banner-content">
                    <h1>Contact Us</h1>
                    <p>Contact us for answers to all of your questions & for more information about Quickly Platforms.</p>
                    <div class="shape-2">
                        <img src="../../../assets/images/shape-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="about-banner-img">
                    <div class="shape">
                        <img src="../../../assets/images/shape-5.png" alt="">
                    </div>
                    <img src="../../../assets/images/about-banner.png" class="img-fluid ab-img" alt="" title="">
                    <div class="shape-2">
                        <img src="../../../assets/images/shape-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section-1">
    <div class="container">
        <div class="address-sec">
            <div class="sec-1">
                <div class="office-icon">
                    <img src="../../../assets/images/office.png" alt="" title="">
                </div>
                <div class="office-add">
                    <p>60/61 New Sheetal Nagar, Near Water Tank, Main Road, Indore - 452015</p>
                </div>
            </div>
            <div class="sec-1">
                <div class="office-icon">
                    <img src="../../../assets/images/phone-add.png" alt="" title="">
                </div>
                <div class="office-add">
                    <p><a href="tel:9753945766">9753945766</a></p>
                    <p><a href="mailto:info@quicklyplatforms.com">info@quicklyplatforms.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section-2">
    <div class="container">
        <div class="section-title text-center">
            <h2>Drop us message for any query</h2>
            <p>You can reach us by send us an enquiry & we will see how we can help you.</p>
        </div>
        <div class="contact-form-sec">
            <div class="contact-form">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Full name</label>
                                <input type="text" name="name" id="name" class="form-control" required="" placeholder="Full name">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Email</label>

                                <input type="email" name="email" id="email" class="form-control" required="" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" name="phone_number" id="phone_number" required="" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" name="msg_subject" id="msg_subject" class="form-control" required="" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Your message</label>
                                <textarea name="message" class="form-control" id="message" cols="30" rows="5" required="" placeholder="Message here."></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn submit-btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>