<section class="privacy-page-banner">
    <div class="container">
        <div class="privacy-inner-sec text-center">
            <h1>Terms and Conditions</h1>
            <div class="privacy-page-nav">
                <ul class="bread-crumb">
                    <li><a routerLink="/main-pages/home">Home</a> ></li>
                    <li routerLinkActive="active">Terms and Conditions</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="policy-content">
<div class="container">
    <h2>Terms and Conditions</h2>
    <h3>Lorem ipsum dummy text</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti nam veritatis rem cupiditate modi labore quos ipsa distinctio facere, explicabo minus vero est voluptate, quis ad esse perferendis velit eaque!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti nam veritatis rem cupiditate modi labore quos ipsa distinctio facere, explicabo minus vero est voluptate, quis ad esse perferendis velit eaque!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti nam veritatis rem cupiditate modi labore quos ipsa distinctio facere, explicabo minus vero est voluptate, quis ad esse perferendis velit eaque!</p>
    <h3>sit amet consectetur</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla in voluptas unde inventore officiis rem, laboriosam provident saepe quidem ipsam eligendi voluptatibus placeat? Sequi laborum, pariatur eveniet tempore maxime sit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla in voluptas unde inventore officiis rem, laboriosam provident saepe quidem ipsam eligendi voluptatibus placeat? Sequi laborum, pariatur eveniet tempore maxime sit?</p>
    <h3>Corrupti nam veritatis</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, qui. Accusamus laudantium ut, distinctio odio similique perferendis voluptate cum voluptatibus eligendi porro rem, nemo neque inventore expedita in sapiente alias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, qui. Accusamus laudantium ut, distinctio odio similique perferendis voluptate cum voluptatibus eligendi porro rem, nemo neque inventore expedita in sapiente alias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, qui. Accusamus laudantium ut, distinctio odio similique perferendis voluptate cum voluptatibus eligendi porro rem, nemo neque inventore expedita in sapiente alias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, qui. Accusamus laudantium ut, distinctio odio similique perferendis voluptate cum voluptatibus eligendi porro rem, nemo neque inventore expedita in sapiente alias.</p>
    <h3>Lorem ipsum dummy text</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus accusamus, maxime consequatur itaque ea minima numquam id repudiandae nulla ducimus laboriosam beatae quis perferendis facere sunt mollitia, amet porro nam!</p>
</div>
</section>
